.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}

.col-sm-10 {
  width: 83.33333333%;
}

.col-sm-offset-1 {
  margin-left: 8.33333333%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.h2 {
  font-size: 2rem;
  font-weight: bold;
}
